.panel-historic{
    padding: 5px;
    margin-bottom: 0px;
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.title{
   background-color: #00ba54!important;
   color: white; 
   border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-historic{
    padding: 5px;
    margin-bottom: 0px;
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}